.lblValidation {
    -fx-text-fill: red;
}

#gridLogin #btnSignup {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-background-color: transparent;
}

#gridLogin #btnSignup:focused,
#gridLogin #btnSignup:hover {
    -fx-background-color: lightgray;
}

.invalidField {
    -fx-border-color: #ff6383;
    -fx-border-width: 2px;
}

TextField,
PasswordField {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-border-radius: 2px;
}

