.lblValidation {
    -fx-text-fill: red;
}

/*#lblValidationPassword.valid,*/
/*#lblValidationUsername.valid,*/
/*#lblValidationEmail.valid {*/
/*    -fx-min-height: 0;*/
/*    -fx-max-height: 0;*/
/*}*/

/*#lblValidationPassword.invalid,*/
/*#lblValidationUsername.invalid,*/
/*#lblValidationEmail.invalid {*/
/*    -fx-max-height: 20px;*/
/*}*/

#gridLogin #btnSignup {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-background-color: transparent;
}

#gridLogin #btnSignup:focused,
#gridLogin #btnSignup:hover {
    -fx-background-color: lightgray;
}

